<div *ngIf="bodyMock">
  <div class="action_bar">
    <img alt="edit" *ngIf="bodyMock" class="button" src="/assets/icons/eva-icons/outline/svg/edit-outline.svg" (click)="edit(form)" />
  </div>
  <div class="content {{ requestMethodContentCssClass(bodyMock) }}">
    <h1>Body</h1>
    <div><span class="identifier">Name:</span><b>{{ bodyMock.name }}</b></div>
    <div><span class="identifier">Description:</span>{{ bodyMock.description }}</div>
    <div><span class="identifier">Request method:</span><span class="{{ requestMethodVerbCssClass(bodyMock) }}">{{ bodyMock.requestMethod }}</span></div>
    <div><span class="identifier">
        <ng-container *ngIf="bodyMock.active; then active else notActive"></ng-container>
      </span></div>
    <div class="requests">
      <div *ngIf="bodyMock.requestMethod == 'POST' || bodyMock.requestMethod == 'PUT'" class="requestBody">
        <span class="identifier">Request body:</span>
        <app-json-viewer [data]="bodyMock.requestBody"></app-json-viewer>
      </div>
      <div class="responseBody">
        <span class="identifier">Request response:</span>
        <app-json-viewer [data]="bodyMock.responseBody"></app-json-viewer>
      </div>
    </div>
  </div>

  <ng-template #form>
    <app-body-mock-form [bodyMock]="bodyMock" [bsModalRef]="bsModalRef"></app-body-mock-form>
  </ng-template>
</div>

<ng-template #active>Active</ng-template>
<ng-template #notActive>Not Active</ng-template>