<div class="modal-header">
  <img alt="submit" class="buttonModal" src="/assets/icons/eva-icons/outline/svg/checkmark-circle-outline.svg" (click)="onSubmit()" />
  <div *ngIf=(bodyMock) class="modal-title pull-left">Update body, id:{{ bodyMock.id }}</div>
  <div *ngIf=(!bodyMock) class="modal-title pull-left">Add body</div>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="content">
    <div>Name</div>
    <div>
      <input type="text" [(ngModel)]="name" />
    </div>
    <div>Description</div>
    <div>
      <input type="text" [(ngModel)]="description" />
    </div>
    <div>Active ?</div>
    <div>
      <input type="radio" [value]="true" [(ngModel)]="active" /> Active
      <input type="radio" [value]="false" [(ngModel)]="active" /> Not active
    </div>
    <div>Request method</div>
    <div>
      <select [(ngModel)]="requestMethod">
        <option *ngFor="let requestMethodMock of requestMethodMockEnum | keyvalue" [ngValue]="requestMethodMock.key">{{ requestMethodMock.value }}</option>
      </select>
    </div>
    <div class="requests">
      <div class="requestBody">
        <div>Request body</div>
        <div class="info">Only for POST and PUT requests</div>
        <ngx-codemirror [(ngModel)]="requestBody" [options]="options"></ngx-codemirror>
      </div>
      <div class="responseBody">
        <div>Response body</div>
        <ngx-codemirror [(ngModel)]="responseBody" [options]="options"></ngx-codemirror>
      </div>
    </div>
  </div>
</div>