.requests {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.requestBody, .responseBody {
  flex: 1 1;
}

div {
  font-weight: bold;
}

.info {
  font-weight: normal;
  font-style: italic;
}