<div class="modal-header">
  <img alt="submit" class="buttonModal" src="/assets/icons/eva-icons/outline/svg/checkmark-circle-outline.svg" (click)="onSubmit()" />
  <div *ngIf=(urlMock) class="modal-title pull-left">Update url, id:{{ urlMock.id }}</div>
  <div *ngIf=(!urlMock) class="modal-title pull-left">Add url</div>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="content">
    <div>Name</div>
    <div>
      <input type="text" [(ngModel)]="name" />
    </div>
    <div>Url</div>
    <div>
      <input type="text" [(ngModel)]="url" />
    </div>
    <div>Active ?</div>
    <div>
      <input type="radio" [value]="true" [(ngModel)]="active" /> Active
      <input type="radio" [value]="false" [(ngModel)]="active" /> Not active
    </div>
    <div>Description</div>
    <div>
      <input type="text" [(ngModel)]="description" />
    </div>
  </div>
</div>
