<div class="action_bar position-fixed">
  <img class="button" src="/assets/icons/eva-icons/outline/svg/plus-circle-outline.svg" alt="add" (click)="edit(addForm)" />
</div>
<div class="empty_action_bar"></div>
<app-items *ngIf="urlMocks" class="urls-mock">
  <app-item *ngFor="let urlMock of urlMocks" class="{{ cssClassUrlMock(urlMock) }}">
    <div>
      <img class="button" src="/assets/icons/eva-icons/outline/svg/eye-outline.svg" alt="see" routerLink="/mocks/url/{{ urlMock.id }}" routerLinkActive="active" />
      <img class="button" src="/assets/icons/eva-icons/outline/svg/edit-outline.svg" alt="edit" (click)="edit(editForm)" />
      <img class="button" src="/assets/icons/eva-icons/outline/svg/close-circle-outline.svg" alt="delete" (click)="delete(urlMock.id)" />
    </div>
    <div>
      <span class="identifier">Name:</span><b>{{ urlMock.name }}</b><br />
      <span class="identifier">Url:</span><span class="url">{{ mocksService.getMockUrl() }}{{ urlMock.url }}</span><br />
      <span class="identifier">Description:</span>{{ urlMock.description }}<br />
      <span class="identifier">
        <ng-container *ngIf="urlMock.active; then active else notActive"></ng-container>
      </span><br />
      <span class="identifier">Numbers of bodies:</span>{{ urlMock.bodyMocks.length }} <ng-container *ngIf="urlMock.bodyMocks.length > 1; then bodies else body"></ng-container>
      <ng-template #body>body</ng-template>
      <ng-template #bodies>bodies</ng-template>
    </div>
    <ng-template #editForm>
      <app-url-mock-form [urlMock]="urlMock" [bsModalRef]="bsModalRef"></app-url-mock-form>
    </ng-template>
  </app-item>
</app-items>
<ng-template #addForm>
  <app-url-mock-form [urlMock]="urlMock" [bsModalRef]="bsModalRef"></app-url-mock-form>
</ng-template>

<ng-template #active>Active</ng-template>
<ng-template #notActive>Not Active</ng-template>