<div>
  <ul class="nav nav-tabs">
    <li *ngFor="let tab of tabs" (click)="selectTab(tab)" [class.active]="tab.active" class="nav-item nav-link" (click)="onClick(tab)">
      {{ tab.title }}
    </li>
  </ul>
</div>
<div class="nav-content">
  <ng-content></ng-content>
</div>
