/*.codeViewer-lines samp {
  &:before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    padding: 0 .5em;
    margin-right: .5em;
  }
}*/
.codeViewer-lines {
  white-space: pre-wrap;

}

.codeViewer-border {
  border: solid 1px;
}

/*pre > samp:not(:only-child)::before {
  content: counter(linenumber, decimal-leading-zero) ". ";
  counter-increment: linenumber
}*/
