<ng-container *ngIf="!data">
  No data
</ng-container>
<ng-container *ngIf="data">
  <app-tabs *ngIf="data" (click)="onClick($event)">
    <app-tab [title]="'Editor'">
      <app-json-editor [data]="data" [readOnly]="readOnly"></app-json-editor>
    </app-tab>
    <app-tab [title]="'Viewer'">
      <ngx-json-viewer [json]="jsonData"></ngx-json-viewer>
    </app-tab>
    <app-tab [title]="'Copy the json'" [disabled]="true" [messageOnClick]="'copy'"></app-tab>
  </app-tabs>
</ng-container>
