<div class="row h-100">
  <div class="col-lg-2 overflow-auto h-100">
    <app-urls-mock></app-urls-mock>
  </div>
  <div class="col-lg-2 overflow-auto h-100">
    <app-bodys-mock></app-bodys-mock>
  </div>
  <div class="col-lg-8 overflow-auto h-100">
    <app-url-mock></app-url-mock>
    <app-body-mock></app-body-mock>
  </div>
</div>