$method-requests: (
  "delete": (
    "main-color": #f93e3e,
    "second-color": rgb(250,231,231)
  ),
  "get": (
    "main-color": #61affe,
    "second-color": rgb(235, 243, 251)
  ),
  "patch": (
    "main-color": #aaaaaa,
    "second-color": rgb(230, 230, 230)
  ),
  "post": (
    "main-color": #49cc90,
    "second-color": rgb(232, 246, 240)
  ),
  "put": (
    "main-color": #fca130,
    "second-color": rgb(251, 241,230)
  )
);

@mixin method-request-content {
  border: solid 4px;
}

@each $verb, $map in $method-requests {
  $main-color: map-get($map, "main-color");
  $second-color: map-get($map, "second-color");

  .method-request-#{$verb} {
    background-color: $main-color !important;
  }

  .method-request-#{$verb}-content {
    @include method-request-content();
    background-color: $second-color !important;
    border-color: $main-color !important;
  }
}

.method-request-delete,
.method-request-get,
.method-request-patch,
.method-request-post,
.method-request-put {
  border-radius: 3px;
  width: 90px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  color: white;
}
