@import '~codemirror/lib/codemirror.css';
@import '~codemirror/addon/fold/foldgutter.css';
@import '~codemirror/addon/lint/lint.css';
@import "~ngx-tabset/ngx-tabset";

@font-face {
    font-family: 'Ubuntu';
    src: url("/assets/font/Ubuntu-Regular.ttf");
}

* {
    font-family: 'Ubuntu'
}

html, body {
  height: 100%;
}

body {
    background-color: rgb(0, 100, 100);
    margin: 0;
    padding: 0;
}

input, select {
  width: 200px;
  height: 30px;
}

.url {
    color: rgb(1, 151, 151);
    font-style: italic;
    font-weight: bolder;
}

.action_bar {
    background-color: rgb(225, 225, 225);
    margin: 10px;
    margin-bottom: 0;
    padding: 5px;
    border-radius: 5px;
}

.empty_action_bar {
    height: 50px;
}

.button {
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.buttonModal {
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    margin-top: -5px;
}

.content {
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    background-color: rgb(255, 255, 255) !important;
}

.stripes {
  background: repeating-linear-gradient(
    135deg,
    rgba(150, 150, 150, 0.5),
    rgba(150, 150, 150, 0.5) 8px,
    rgba(150, 150, 150, 0.15) 8px,
    rgba(150, 150, 150, 0.15) 16px);
}
