<div *ngIf="urlMock">
  <div class="action_bar">
    <img class="button" src="/assets/icons/eva-icons/outline/svg/edit-outline.svg" alt="edit" (click)="edit(editForm)" />
  </div>
  <div class="content {{ cssClassUrlMock(urlMock) }}" *ngIf="urlMock">
    <h1>Url</h1>
    <span class="identifier">Name:</span><b>{{ urlMock.name }}</b><br />
    <span class="identifier">Url:</span><span class="url">{{ mocksService.getMockUrl() }}{{ urlMock.url }}</span><br />
    <span class="identifier">Description:</span>{{ urlMock.description }}<br />
    <span class="identifier">
      <ng-container *ngIf="urlMock.active; then active else notActive"></ng-container>
    </span><br />
    <span class="identifier">Numbers of bodies:</span>{{ urlMock.bodyMocks.length }} <ng-container *ngIf="urlMock.bodyMocks.length > 1; then bodies else body"></ng-container>
    <ng-template #body>body</ng-template>
    <ng-template #bodies>bodies</ng-template>
  </div>
</div>
<ng-template #editForm>
  <app-url-mock-form [urlMock]="urlMock" [bsModalRef]="bsModalRef"></app-url-mock-form>
</ng-template>

<ng-template #active>Active</ng-template>
<ng-template #notActive>Not Active</ng-template>