<div class="action_bar position-fixed">
    <img alt="add" class="button" src="/assets/icons/eva-icons/outline/svg/plus-circle-outline.svg" (click)="edit(addForm)" />
</div>
<div class="empty_action_bar"></div>
<app-items *ngIf="urlMock">
    <app-item *ngFor="let bodyMock of urlMock.bodyMocks" class="{{ requestMethodContentCssClass(bodyMock) }}">
        <div>
            <img alt="see" class="button" src="/assets/icons/eva-icons/outline/svg/eye-outline.svg" routerLink="/mocks/url/{{ urlMock.id }}/body/{{ bodyMock.id }}" routerLinkActive="active" />
            <img alt="edit" class="button" src="/assets/icons/eva-icons/outline/svg/edit-outline.svg" (click)="edit(editForm)" />
            <img alt="delete" class="button" src="/assets/icons/eva-icons/outline/svg/close-circle-outline.svg" (click)="delete(bodyMock.id)" />
            <div class="{{ requestMethodVerbCssClass(bodyMock) }} float-right">{{ bodyMock.requestMethod }}</div>
        </div>
        <div>
            <span class="identifier">Name:</span><b>{{ bodyMock.name }}</b><br />
            <span class="identifier">Description:</span>{{ bodyMock.description }}<br />
            <span class="identifier">
                <ng-container *ngIf="bodyMock.active; then active else notActive"></ng-container>
            </span><br />
        </div>
        <ng-template #editForm>
            <app-body-mock-form [bodyMock]="bodyMock" [bsModalRef]="bsModalRef"></app-body-mock-form>
        </ng-template>
    </app-item>
</app-items>

<ng-template #addForm>
    <app-body-mock-form [idUrlMock]="idUrl" [bsModalRef]="bsModalRef"></app-body-mock-form>
</ng-template>

<ng-template #active>Active</ng-template>
<ng-template #notActive>Not Active</ng-template>